{% extends "main-layout.html" %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tambah Mata Kuliah</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
            {{ message }}
        </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Mata Kuliah</h6>
    </div>
    <div class="card-body">
        <div class="card card-body">
            <form action="/mata-kuliah/insert" method="POST">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" name="nama" placeholder="Nama Mata Kuliah" />
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label for="jumlah_sks" class="form-label">Jumlah SKS</label>
                            <input type="text" class="form-control" name="jumlah_sks" placeholder="Jumlah SKS" />
                        </div>
                        <div class="col-6">
                            <label for="semester" class="form-label">Semester</label>
                            <input type="text" class="form-control" name="semester" placeholder="Semester" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dosen_id" class="form-label">Dosen</label>
                    <select name="dosen_id" class="form-control" id="dosen_id">
                        <option value="">Pilih Dosen</option>
                        {% for data in dosen %}
                        <option value="{{ data.0 }}">{{ data.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary">Tambah</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}