{% extends "layout.html" %}
{% block kontenku %}

  <h2 class="display-6">Selamat datang di SIM!</h2>
  <hr>

  <header><img src="{{ url_for('static', filename='images/header.jpg')}}" width="100%" alt="Header Kontak" /></header>

  <div class="row">
    <div class="col-md-12">   
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis reiciendis in libero voluptatibus animi quam omnis at dolores corrupti. Minima nobis error ipsum commodi harum voluptatum, quis adipisci sunt ducimus, consequuntur illum. Officia nihil nobis labore aliquam, omnis sequi inventore asperiores? Saepe, esse quas cumque eos perspiciatis eligendi. Aperiam, accusantium?
        </p>
    </div>
  </div>
</div>

{% endblock %}