<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>SIK WEBAPP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h2 class="text-white fw-bold">[SIM]</h2>
                </a>

                <div>
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/mahasiswa">Mahasiswa</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container pt-4">{% block kontenku %} {% endblock %}</div>

        <footer class="mt-5 text-center">Copyright &copy 2022</footer>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
