{% extends "main-layout.html" %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Edit Kelas</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
            {{ message }}
        </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Kelas</h6>
    </div>
    <div class="card-body">
        <div class="card card-body">
            <form action="/kelas/update/{{kelas.0}}" method="POST">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" value="{{kelas.1}}" name="nama" placeholder="Nama Kelas" />
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label for="dosen_id" class="form-label">Dosen</label>
                            <select name="dosen_id" class="form-control" id="dosen_id">
                                <option value="">Pilih Dosen</option>
                                {% for data in dosen %}
                                <option {% if data.0 == kelas.2 %} selected {% endif %} value="{{ data.0 }}">{{ data.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="jurusan_id" class="form-label">Jurusan</label>
                            <select name="jurusan_id" class="form-control" id="jurusan_id">
                                <option value="">Pilih Jurusan</option>
                                {% for data in jurusan %}
                                <option {% if data.0 == kelas.3 %} selected {% endif %} value="{{ data.0 }}">{{ data.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}